.card {
    width: 900px;
    margin: 10px auto;
    background-color: rgb(209, 207, 207);
    border: 3px solid #007acc;
    border-radius: 15px;
    box-shadow: 0 10px 20px black;
}

.profile-pic {
    border-radius: 50%;
    padding-top: 10px;
    width: 150px;
}

#name {
    color: #008000;
    font-weight: bold;
}

.bio {
    font-style: italic;
    color: #555;
    cursor: pointer;
}

.quote {
    font-style: italic;
    color: rgb(32, 32, 32);
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}